{{define "edit"}}
{{template "begin"}}
<!-- Google -->
<script src="google.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=onPlatformReady" async defer></script>

<div class="container">
	<a href="/"><img src="images/bbhmakerlab.png" style="display: block; margin: 0 auto"/></a>
	<h5 style="color: white">Edit Content
		<span class="right">
			{{if .IsLoggedIn}}
			<button id="signOutButton" class="btn" onclick="signOut()">Sign Out</button>
			{{else}}
			<button id="signInButton" class="btn" onclick="signIn()">Sign In</button>
			{{end}}
		</span>
	</h5>

	<p style="color: white">{{.UsedDiskSpacePercentage}}% disk space used</p>
	<div class="progress">
		<div class="determinate" style="width: {{.UsedDiskSpacePercentage}}%"></div>
	</div>
	
	<section>
		<div class="row" style="margin-left: 0; margin-right: 0;">
			<span class="flow-text">Content</span>
			{{if $.IsLoggedIn}}
			<span class="secondary-content">
				<button id="delete-all" class="btn">Delete all</button>
			</span>
			{{end}}
		</div>
		<ul class="collection">
			{{range .Entries}}
				<li class="collection-item row">
					<div class="image-placeholder col s3">
						{{if .Image}}
							<img src="{{.Image}}" />
						{{end}}
						<label>
							<h5 class="white-text">Upload Image</h5>
							<input class="media-input" name="image" type="file" accept="image/*" data-name="{{ .Name }}" data-type="image" />
						</label>
					</div>
					<div class="col s9">
						<p class="flow-text">{{.Name}} {{if not .Video}}<small>(no video)</small>{{end}}</p>
						{{if $.IsLoggedIn}}
						<span class="secondary-content">
							<i class="delete material-icons" data-name="{{.Name}}">delete</i>
						</span>
						{{end}}
					</div>
				</li>
			{{end}}
		</ul>
	</section>

	{{if .IsLoggedIn}}
	<section>
		<p class="flow-text">Upload Link</p><small>Youtube and Vimeo links are supported</small><br/>
		<form id="post" action="/edit" method="POST" enctype="multipart/form-data">
			<div class="input-field">
				<input type="text" name="name" />
				<label class="active">Name</label>
			</div>
			<div class="input-field">
				<input type="url" name="url" pattern="(.*youtube\.com\/.+)|(.*vimeo\.com\/.+)" maxlength="2000" />
				<label class="active">URL</label>
			</div>
			<button type="submit" class="btn waves-effect waves-light" name="type" value="url">Submit</button>
		</form>
	</section>

	<section>
		<p class="flow-text">Upload Content</p><small>An entry consisting of an image and a video must have the same name. The name before the file extension (e.g. .jpg, .png, .mp4, ...) will be used as the entry name.</small><br/>
		<form id="post" action="/edit" method="POST" enctype="multipart/form-data">
			<div class="file-field input-field">
				<div class="btn">
					<span>Files</span>
					<input type="file" accept="image/*, video/*" name="file" multiple />
				</div>
				<input class="file-path validate" type="text" />
			</div>
			<button type="submit" class="btn waves-effect waves-light" name="type" value="files">Submit</button>
		</form>
	</section>

	<section>
		<p class="flow-text">Reload Clients</p><small>This will cause browsers who are viewing the main page to reload</small><br/>
		<button id="reload" class="btn waves-effect waves-light">Reload</button>
	</section>
	{{end}}
</div>

{{if .IsLoggedIn}}

<script>
$(document).ready(function() {
	$(".delete").click(function(evt) {
		evt.preventDefault();

		var name = $(evt.target).data("name");
		$.ajax({
			url: "/edit?" + $.param({name: name}),
			method: "DELETE",
			dataType: "json",
		}).done(function(resp) {
			window.location.reload();
		}).fail(function(resp) {
			if (resp.status == "200") {
				window.location.reload();
			} else {
				console.log(resp);
			}
		});
	});

	$("#delete-all").click(function(evt) {
		evt.preventDefault();

		var ok = confirm("Delete all the entries?");
		if (!ok) {
			return;
		}

		$.ajax({
			url:"/edit?" + $.param({type: "all"}),
			method: "DELETE",
			dataType: "json",
		}).done(function(resp) {
			window.location.reload();
		}).fail(function(resp) {
			if (resp.status == "200") {
				window.location.reload();
			} else {
				console.log(resp);
			}
		});
	});

	$("#reload").click(function(evt) {
		if (websocket.readyState == 1) {
			websocket.send("reload");
		}
	});

	$(".media-input").change(function(evt) {
		evt.preventDefault();

		var files = evt.target.files;
		if (files.length > 0) {
			var fd = new FormData();
			var name = $(evt.target).data("name");
			var type = $(evt.target).data("type");
			fd.append("file", files[0]);
			fd.append("name", name);
			fd.append("type", type);
			$.ajax({
				url: "/edit/image",
				method: "PUT",
				data: fd,
				processData: false,
				contentType: false,
			}).done(function(resp) {
				window.location.reload();
			}).fail(function(resp) {
				Materialize.toast("Failed to upload image", 3000, "red white-text");
			});;
		}
	});
});

<!-- Websocket -->
function tryWebsocket() {
	if (typeof(websocket) != "undefined") {
		if (websocket.readyState != 3) {
			if (typeof(websocketTimeoutID) == "number") {
				window.clearTimeout(websocketTimeoutID);
			}
			return;
		}
	}

	websocket = new WebSocket("ws://" + BaseURL + "/ws/edit");
	websocket.onopen = function(evt) {
		console.log("Connected to WebSocket");
	}
	websocket.onclose = function(evt) {
		console.log("Disconnected from WebSocket");
		tryWebsocket();
	}

	websocketTimeoutID = window.setTimeout(tryWebsocket, 1000);
}
tryWebsocket();

</script>

{{end}}

{{template "end"}}
{{end}}
