{{define "edit"}}
{{template "begin"}}
<!-- Google -->
<script src="google.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=onPlatformReady" async defer></script>

<div class="container">
	<h5>Edit Content
		<span class="right">
			{{if .IsLoggedIn}}
			<button id="signOutButton" onclick="signOut()">Sign Out</button>
			{{else}}
			<button id="signInButton" onclick="signIn()">Sign In</button>
			{{end}}
		</span>
	</h5>

	<p>{{.UsedDiskSpacePercentage}}% disk space used</p>
	<div class="progress">
		<div class="determinate" style="width: " + {{.UsedDiskSpacePercentage}}></div>
	</div>
	
	<section>
		<div>
			<span class="flow-text">Content</span>
			<span class="secondary-content">
				<button id="delete-all">Delete all</button>
			</span>
		</div>
		<ul class="collection">
			{{range .Files}}
				<li class="collection-item">
					{{.Name}}
					{{if $.IsLoggedIn}}
					<span class="secondary-content">
						<i class="delete material-icons" data-file="{{.Name}}">delete</i>
					</span>
					{{end}}
				</li>
			{{end}}
		</ul>
	</section>

	{{if .IsLoggedIn}}
	<section>
		<p class="flow-text">Reload Content</p>
		<p>This will cause browsers who are viewing the main page to reload</p>
		<button id="reload" class="btn waves-effect waves-light">Reload</button>
	</section>

	<section>
		<p class="flow-text">Post Content</p>
		<form id="post" action="/edit" method="POST" enctype="multipart/form-data">
			<div class="file-field input-field">
				<div class="btn">
					<span>File</span>
					<input type="file" accept="image/*, video/*" name="file" multiple />
				</div>
				<input class="file-path validate" type="text" />
			</div>
			<button type="submit" class="btn waves-effect waves-light">Submit</button>
			<a href="/" class="right btn grey">Back to Content</a>
		</form>
	</section>
	{{end}}
</div>

{{if .IsLoggedIn}}

<script>
$(document).ready(function() {
	$(".delete").click(function(evt) {
		evt.preventDefault();

		var file = $(evt.target).data("file");
		$.ajax({
			url: "/edit?" + $.param({file: file}),
			method: "DELETE",
			dataType: "json",
		}).done(function(resp) {
			window.location.reload();
		}).fail(function(resp) {
			if (resp.status == "200") {
				window.location.reload();
			} else {
				console.log(resp);
			}
		});
	});

	$("#delete-all").click(function(evt) {
		evt.preventDefault();

		$.ajax({
			url:"/edit?" + $.param({type: "all"}),
			method: "DELETE",
			dataType: "json",
		}).done(function(resp) {
			window.location.reload();
		}).fail(function(resp) {
			if (resp.status == "200") {
				window.location.reload();
			} else {
				console.log(resp);
			}
		});
	});

	$("#reload").click(function(evt) {
		if (websocket.readyState == 1) {
			websocket.send("reload");
		}
	});
});

<!-- Websocket -->
function tryWebsocket() {
	if (typeof(websocket) != "undefined") {
		if (websocket.readyState != 3) {
			if (typeof(websocketTimeoutID) == "number") {
				window.clearTimeout(websocketTimeoutID);
			}
			return;
		}
	}

	websocket = new WebSocket("ws://" + BaseURL + "/ws/edit");
	websocket.onopen = function(evt) {
		console.log("Connected to WebSocket");
	}
	websocket.onclose = function(evt) {
		console.log("Disconnected from WebSocket");
		tryWebsocket();
	}

	websocketTimeoutID = window.setTimeout(tryWebsocket, 1000);
}
tryWebsocket();

</script>

{{end}}

{{template "end"}}
{{end}}
