{{define "home"}}
{{template "begin"}}

{{ $onlyOneVideo := (and (eq (len .Entries) 1) (eq .NumVideos 1) (eq .NumImages 0)) }}

<div class="slider">
	{{range .Entries}}

		{{with .Image}}
		<div>
			<img src={{.}} width="100%" height="100%" />
		</div>
		{{end}}

		{{with .Video}}
		<div>
			<video data-src={{.}} width="100%" height="100%"
				{{if $onlyOneVideo}}
					loop
				{{end}} />
		</div>
		{{end}}

	{{end}}
</div>
<script>
$(document).ready(function() {
	var slider = $(".slider");

	slider.slick({
		arrows: false,
		dots: false,
		infinite: true,
	});

	{{if $onlyOneVideo}}
		$("video")[0].play();
	{{end}}

	slider.slick("slickGoTo", 0);

	slider.on("beforeChange", function(e, slick, index) {
		var slide = $.find(".slider .slick-slide:nth-child(" + (index + 2) + ")");
		var videoContainer = $(slide).has("video");
		
		if (videoContainer.length > 0) {
			var video = videoContainer.children("video");
			video[0].src = "";
		}
		if (typeof(nextTimeoutID) == "number") {
			window.clearTimeout(nextTimeoutID);
		}
	});

	slider.on("afterChange", function(e, slick, index) {
		var slide = $.find(".slider .slick-slide:nth-child(" + (index + 2) + ")");
		var videoContainer = $(slide).has("video");
		if (videoContainer.length > 0) {
			var video = videoContainer.children("video");
			video[0].src = video.data("src");
			video[0].load();
			video[0].play();
			video.on("ended", function(e) {
				slider.slick("slickNext");
			});
		} else {
			setNextTimeout(slider);
		}
	});
});

function setNextTimeout(slider) {
	nextTimeoutID = window.setTimeout(function() {
		slider.slick("slickNext");
		if (typeof(nextTimeoutID) == "number") {
			window.clearTimeout(nextTimeoutID);
		}
	}, 5000);
}

<!-- Websocket -->
function tryWebsocket() {
	if (typeof(websocket) != "undefined") {
		if (websocket.readyState != 3) {
			if (typeof(websocketTimeoutID) == "number") {
				window.clearTimeout(websocketTimeoutID);
			}
			return;
		}
	}

	websocket = new WebSocket("ws://" + BaseURL + "/ws/home");
	websocket.onopen = function(evt) {
		console.log("Connected to WebSocket");
		websocket.onmessage = function(evt) {
			if (evt.data == "reload") {
				window.location.reload();
			}
		}
	}
	websocket.onclose = function(evt) {
		console.log("Disconnected from WebSocket");
		tryWebsocket();
	}

	websocketTimeoutID = window.setTimeout(tryWebsocket, 1000);
}

tryWebsocket();
</script>
{{template "end"}}
{{end}}
