{{define "home"}}
{{template "begin"}}

{{ $onlyOneVideo := (and (eq (len .Entries) 1) (eq .NumVideos 1) (eq .NumImages 0)) }}

{{if $onlyOneVideo }}

	{{range .Entries}}

		<video class="video-js vjs-default-skin" data-src="{{ .Video }}" width="100%" height="100%" loop preload="none"
			{{if .IsYoutube}} data-setup='{ "techOrder": ["youtube"], "src": "{{ .Video }}" }'
			{{else if .IsVimeo}} data-setup='{ "techOrder": ["vimeo"], "src": "{{ .Video }}" }'
			{{else}} src="{{ .Video }}" autoplay {{end}}>
		</video>

	{{end}}

{{else}}

<div class="slider">
	{{range .Entries}}

		{{with .Image}}
		<div>
			<img src="{{.}}" width="100%" height="100%" />
		</div>
		{{end}}

		{{if .Video}}
		<div>
			<video class="video-js vjs-default-skin" data-src="{{ .Video }}" width="100%" height="100%" preload="none"
				{{if .IsYoutube}} data-setup='{ "techOrder": ["youtube"], "src": "{{ .Video }}" }' {{end}}
				{{if .IsVimeo}} data-setup='{ "techOrder": ["vimeo"], "src": "{{ .Video }}" }' {{end}}
				{{if $onlyOneVideo}} loop {{end}}>
			</video>
		</div>
		{{end}}

	{{end}}
</div>

{{end}}

<script>
var slider;

$(document).ready(function() {
	{{if $onlyOneVideo}}

	var video = $(".video-js");
	if (video.length > 0) {
		console.log(video);
		var src = $(video[0]).data("src");
		if (src.match(/(.*youtube\.com\/.+)|(.*vimeo\.com\/.+)/)) {
			var player = videojs(video[0]);
			player.play();
		} else {
			video[0].play();
		}
	}

	{{else}}

	slider = $(".slider");

	slider.slick({
		arrows: false,
		dots: false,
		infinite: true,
	});

	slider.slick("slickGoTo", 0);

	slider.on("beforeChange", function(e, slick, index) {
		var slide = $.find(".slider .slick-slide:nth-child(" + (index + 2) + ")");
		var video = $(slide).find(".video-js");
		
		if (video.length > 0) {
			var src = $(video[0]).data("src");
			if (src.match(/(.*youtube\.com\/.+)|(.*vimeo\.com\/.+)/)) {
				var player = videojs(video[0].id);
				player.currentTime(0);
				player.pause();
			} else {
				video[0].src = "";
				video[0].pause();
			}
		}

		if (typeof(nextTimeoutID) == "number") {
			window.clearTimeout(nextTimeoutID);
		}
	});

	slider.on("afterChange", function(e, slick, index) {
		var slide = $.find(".slider .slick-slide:nth-child(" + (index + 2) + ")");
		var video = $(slide).find(".video-js");
		if (video.length > 0) {
			var src = $(video[0]).data("src");
			video[0].src = src;
			if (src.match(/(.*youtube\.com\/.+)|(.*vimeo\.com\/.+)/)) {
				var player = videojs(video[0].id);
				player.play();
				player.on("ended", function() {
					player.src(src);
					slider.slick("slickNext");
				});
			} else {
				video[0].play();
				video.on("ended", function(e) {
					slider.slick("slickNext");
				});
			}
		} else {
			setNextTimeout(slider);
		}
	});

	{{end}}
});

function setNextTimeout(slider) {
	nextTimeoutID = window.setTimeout(function() {
		slider.slick("slickNext");
		if (typeof(nextTimeoutID) == "number") {
			window.clearTimeout(nextTimeoutID);
		}
	}, 5000);
}

<!-- Websocket -->
function tryWebsocket() {
	if (typeof(websocket) != "undefined") {
		if (websocket.readyState != 3) {
			if (typeof(websocketTimeoutID) == "number") {
				window.clearTimeout(websocketTimeoutID);
			}
			return;
		}
	}

	websocket = new WebSocket("ws://" + BaseURL + "/ws/home");
	websocket.onopen = function(evt) {
		console.log("Connected to WebSocket");
		websocket.onmessage = function(evt) {
			if (evt.data == "reload") {
				window.location.reload();
			}
		}
	}
	websocket.onclose = function(evt) {
		console.log("Disconnected from WebSocket");
		tryWebsocket();
	}

	websocketTimeoutID = window.setTimeout(tryWebsocket, 1000);
}

tryWebsocket();

<!-- Leap Motion -->
var lastActivatedTime = 0;

var controller = Leap.loop({enableGestures:true}, function(frame) {
	if (!slider) {
		return;
	}

	var hands = frame.hands;
	if (hands.length > 0) {
		var velocity = hands[0].palmVelocity[0];
		var now = Date.now();
		if (now - lastActivatedTime > 200) {
			if (velocity > 200) {
				slider.slick("slickNext");
				lastActivatedTime = now;
			} else if (velocity < -200) {
				slider.slick("slickPrev");
				lastActivatedTime = now;
			}
		}
	}
});

</script>
{{template "end"}}
{{end}}
